---
import portrait from '@/assets/images/portrait.jpg'
import BlogCard from '@/components/BlogCard.astro'
import Link from '@/components/Link.astro'
import PageHead from '@/components/PageHead.astro'
import SocialIcons from '@/components/SocialIcons.astro'
import { buttonVariants } from '@/components/ui/button'
import { Card } from '@/components/ui/card'
import { SITE, SOCIAL_LINKS } from '@/consts'
import Layout from '@/layouts/Layout.astro'
import { getRecentPosts } from '@/lib/data-utils'
import { Image } from 'astro:assets'

const blog = await getRecentPosts(SITE.featuredPostCount)
---

<Layout class="max-w-3xl">
  <PageHead slot="head" title="Home" />

  <section class="space-y-6 md:hidden">
    <Image
      src={portrait}
      alt="Portrait of Michael Frieze"
      width={280}
      height={280}
      class="rounded-xl shadow-md"
    />

    <Card className="bg-card/30 w-full p-4">
      <div>
        <h1 class="text-2xl font-bold">Hi, I'm Michael Frieze</h1>
        <p class="text-foreground/60 italic">
          Web Developer based in Metro Detroit
        </p>
      </div>

      <div class="text-foreground/80 space-y-3">
        <p>
          My journey in web development began in high school and has led me
          through various roles, from Java on the back-end to my current focus
          on front-end. These days, I'm building with JavaScript, TypeScript,
          React, and frameworks like Next.js, TanStack Start, and Astro. This
          site is my space to share what I'm learning, what I'm building, and
          occasionally just whatever's on my mind.
        </p>

        <p>
          When I'm not coding, I enjoy playing guitar and collaborating with
          other musicians. I also like immersing myself in PC games like "Star
          Citizen" and "Crusader Kings 3".
        </p>

        <p>
          At home, I live with my partner Kayla, a kindergarten teacher and avid
          reader, along with our 10-year-old chihuahua who's our everyday
          companion.
        </p>

        <p>
          Curious about how we can work together or just want to chat? Send me
          an email or connect with me on platforms like Reddit, X, or Bluesky.
        </p>
        <SocialIcons links={SOCIAL_LINKS} />
      </div>
    </Card>
  </section>

  <section class="flex flex-col gap-y-4">
    <h2 class="text-2xl font-medium">Latest posts</h2>
    <ul class="flex flex-col gap-y-4">
      {
        blog.map((post) => (
          <li>
            <BlogCard entry={post} />
          </li>
        ))
      }
    </ul>
    <div class="flex justify-center">
      <Link
        href="/blog"
        class={buttonVariants({ variant: 'ghost' }) + ' group'}
      >
        See all posts <span
          class="ml-1.5 transition-transform group-hover:translate-x-1"
          >&rarr;</span
        >
      </Link>
    </div>
  </section>
</Layout>
