---
import portrait from '@/assets/images/portrait.jpg'
import BlogCard from '@/components/BlogCard.astro'
import Link from '@/components/Link.astro'
import PageHead from '@/components/PageHead.astro'
import SocialIcons from '@/components/SocialIcons.astro'
import { Button, buttonVariants } from '@/components/ui/button'
import { Card, CardContent } from '@/components/ui/card'
import { SITE, SOCIAL_LINKS } from '@/consts'
import Layout from '@/layouts/Layout.astro'
import { getRecentPosts } from '@/lib/data-utils'
import { Icon } from 'astro-icon/components'
import { Image } from 'astro:assets'

const blog = await getRecentPosts(SITE.featuredPostCount)
---

<Layout class="max-w-3xl">
  <PageHead slot="head" title="Home" />

  <section class="space-y-6 md:hidden">
    <Image
      src={portrait}
      alt="Portrait of Michael Frieze"
      width={280}
      height={280}
      class="rounded-xl shadow-md"
    />

    <Card className="bg-card/30 w-full p-4">
      <div>
        <h1 class="text-2xl font-bold">Hi, I'm Michael Frieze</h1>
        <p class="text-foreground/60 text-sm italic">
          Web Developer based in Metro Detroit
        </p>
      </div>

      <div class="text-foreground/60 space-y-3">
        <p>
          My journey in web development began in high school and has led me
          through various roles, from Java on the back-end to my current focus
          on front-end. These days, I'm building with JavaScript, TypeScript,
          React, and frameworks like Next.js, TanStack Start, and Astro. This
          site is my space to share what I'm learning, what I'm building, and
          occasionally just whatever's on my mind.
        </p>

        <p>
          When I'm not coding, I enjoy playing guitar and collaborating with
          other musicians. I also like immersing myself in PC games like "Star
          Citizen" and "Crusader Kings 3".
        </p>

        <p>
          At home, I live with my partner Kayla, a kindergarten teacher and avid
          reader, along with our 10-year-old chihuahua who's our everyday
          companion.
        </p>

        <p>
          Curious about how we can work together or just want to chat? Send me
          an email or connect with me on platforms like Reddit, X, or Bluesky.
        </p>
        <div class="text-foreground">
          <SocialIcons links={SOCIAL_LINKS} bgVariant="card" />
        </div>
      </div>
    </Card>
  </section>

  <section class="hidden md:block">
    <div class="flex flex-row items-start gap-4">
      <Card className="bg-card/30 w-full p-4">
        <div>
          <h1 class="text-2xl font-bold">Hi, I'm Michael Frieze</h1>
          <p class="text-foreground/60 text-sm italic">
            Web Developer based in Metro Detroit
          </p>
        </div>

        <div class="text-foreground/60 space-y-3">
          <p>
            My journey in web development began in high school and has led me
            through various roles, from Java on the back-end to my current focus
            on front-end. These days, I'm building with JavaScript, TypeScript,
            React, and frameworks like Next.js, TanStack Start, and Astro. This
            site is my space to share what I'm learning, what I'm building, and
            occasionally just whatever's on my mind.
          </p>

          <p>
            When I'm not coding, I enjoy playing guitar and collaborating with
            other musicians. I also like immersing myself in PC games like "Star
            Citizen" and "Crusader Kings 3".
          </p>

          <p>
            At home, I live with my partner Kayla, a kindergarten teacher and
            avid reader, along with our 10-year-old chihuahua who's our everyday
            companion.
          </p>

          <p>
            Curious about how we can work together or just want to chat? Send me
            an email or connect with me on platforms like Reddit, X, or Bluesky.
          </p>
        </div>
      </Card>

      <div class="flex w-2/3 flex-col gap-y-4">
        <Image
          src={portrait}
          alt="Portrait of Michael Frieze"
          width={280}
          height={280}
          class="rounded-xl shadow-md"
        />

        <Card className="bg-card/30 gap-0 p-0 text-sm">
          <CardContent className="text-foreground/60 mb-0.5 px-0 py-4">
            <ul class="pb-2.5">
              <li>
                <Link
                  href="https://github.com/michaelfrieze"
                  external
                  aria-label="Follow on GitHub"
                  class="group hover:bg-card hover:text-foreground focus-visible:ring-ring inline-flex w-full items-center justify-between px-4 py-2 transition-colors focus-visible:ring-2 focus-visible:ring-offset-2 focus-visible:outline-none"
                >
                  <span class="inline-flex items-center gap-2">
                    <Icon name={'lucide:github'} class="size-4" />
                    Follow on GitHub
                  </span>
                  <Icon
                    name={'lucide:arrow-up-right'}
                    class="size-3 transition-transform group-hover:translate-x-0.5 group-hover:-translate-y-0.5"
                  />
                </Link>
              </li>

              <li>
                <Link
                  href="https://reddit.com/u/michaelfrieze"
                  external
                  aria-label="Follow on Reddit"
                  class="group hover:bg-card hover:text-foreground focus-visible:ring-ring inline-flex w-full items-center justify-between px-4 py-2 transition-colors focus-visible:ring-2 focus-visible:ring-offset-2 focus-visible:outline-none"
                >
                  <span class="inline-flex items-center gap-2">
                    <Icon name={'ri:reddit-line'} class="size-4" />
                    Follow on Reddit
                  </span>
                  <Icon
                    name={'lucide:arrow-up-right'}
                    class="size-3 transition-transform group-hover:translate-x-0.5 group-hover:-translate-y-0.5"
                  />
                </Link>
              </li>

              <li>
                <Link
                  href="https://x.com/michaelfrieze"
                  external
                  aria-label="Follow on Twitter"
                  class="group hover:bg-card hover:text-foreground focus-visible:ring-ring inline-flex w-full items-center justify-between px-4 py-2 transition-colors focus-visible:ring-2 focus-visible:ring-offset-2 focus-visible:outline-none"
                >
                  <span class="inline-flex items-center gap-2">
                    <Icon name={'lucide:twitter'} class="size-4" />
                    Follow on Twitter
                  </span>
                  <Icon
                    name={'lucide:arrow-up-right'}
                    class="size-3 transition-transform group-hover:translate-x-0.5 group-hover:-translate-y-0.5"
                  />
                </Link>
              </li>

              <li>
                <Link
                  href="https://bsky.app/profile/frieze.dev"
                  external
                  aria-label="Follow on Bluesky"
                  class="group hover:bg-card hover:text-foreground focus-visible:ring-ring inline-flex w-full items-center justify-between px-4 py-2 transition-colors focus-visible:ring-2 focus-visible:ring-offset-2 focus-visible:outline-none"
                >
                  <span class="inline-flex items-center gap-2">
                    <Icon name={'ri:bluesky-line'} class="size-4" />
                    Follow on Bluesky
                  </span>
                  <Icon
                    name={'lucide:arrow-up-right'}
                    class="size-3 transition-transform group-hover:translate-x-0.5 group-hover:-translate-y-0.5"
                  />
                </Link>
              </li>

              <li>
                <Link
                  href="/rss.xml"
                  external
                  aria-label="Follow on Bluesky"
                  class="group hover:bg-card hover:text-foreground focus-visible:ring-ring inline-flex w-full items-center justify-between px-4 py-2 transition-colors focus-visible:ring-2 focus-visible:ring-offset-2 focus-visible:outline-none"
                >
                  <span class="inline-flex items-center gap-2">
                    <Icon name={'lucide:rss'} class="size-4" />
                    Subscribe via RSS
                  </span>
                  <Icon
                    name={'lucide:arrow-up-right'}
                    class="size-3 transition-transform group-hover:translate-x-0.5 group-hover:-translate-y-0.5"
                  />
                </Link>
              </li>
            </ul>

            <div class="px-4">
              <Button
                variant="outline"
                size="sm"
                className="bg-card/30 text-foreground/80 hover:text-foreground w-full cursor-pointer"
              >
                <Icon name={'lucide:mail'} class="size-4" />
                Contact Me</Button
              >
            </div>
          </CardContent>
        </Card>
      </div>
    </div>
  </section>

  <section class="flex flex-col gap-y-4">
    <h2 class="text-2xl font-medium">Latest posts</h2>
    <ul class="flex flex-col gap-y-4">
      {
        blog.map((post) => (
          <li>
            <BlogCard entry={post} />
          </li>
        ))
      }
    </ul>
    <div class="flex justify-center">
      <Link
        href="/blog"
        class={buttonVariants({ variant: 'ghost' }) + ' group'}
      >
        See all posts <span
          class="ml-1.5 transition-transform group-hover:translate-x-1"
          >&rarr;</span
        >
      </Link>
    </div>
  </section>
</Layout>
