---
import Breadcrumbs from '@/components/Breadcrumbs.astro'
import PageHead from '@/components/PageHead.astro'
import SearchBar from '@/components/SearchBar'
import Layout from '@/layouts/Layout.astro'
import { getAllPosts } from '@/lib/data-utils'

// Retrieve all published articles
const allPosts = await getAllPosts()

// List of items to search in
const searchList = allPosts.map(({ data, id }) => ({
  title: data.title,
  description: data.description,
  data,
  id,
}))
---

<Layout class="max-w-3xl">
  <PageHead slot="head" title="Search" noindex />
  <Breadcrumbs
    items={[
      { label: 'Blog', href: '/blog', icon: 'lucide:library-big' },
      { label: `Search`, icon: 'lucide:search' },
    ]}
  />

  <section>
    <div class="min-w-full">
      <SearchBar client:load searchList={searchList} />
    </div>
  </section>
</Layout>
